<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>
    {% macro make_table(list, n) %}
    {% for item in list[:n//2] %}
    <tr>
        <td>{{item['title']}}</td>
        <td>{{item['author']}}</td>
        <td>{{item['price']}}</td>
    </tr>

    {% endfor %}
    {% if list|length > n %}
    <tr><td>...</td></tr>
    {% endif %}
    {% for item in list[-(n - n//2):] %}
    <tr>
        <td>{{item['title']}}</td>
        <td>{{item['author']}}</td>
        <td>{{item['price']}}</td>
    </tr>
    {% endfor %}
    {% endmacro %}
    <table>
    <tr>
        <th>title</th>
        <th>author</th>
        <th>price</th>
    </tr>
    {{ make_table(list, n) }}
    </table>
</p>
</body>
</html>